default_install_hook_types: [pre-commit, commit-msg]
repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v6.0.0
  hooks:
    - id: check-added-large-files
      exclude: (?x)^([fixtures|docs])
      stages: [pre-commit]
    - id: check-case-conflict
      stages: [pre-commit]
    - id: check-merge-conflict
      stages: [pre-commit]
    - id: detect-private-key
      stages: [pre-commit]
    - id: forbid-new-submodules
      stages: [pre-commit]
    - id: check-builtin-literals
      stages: [pre-commit]

- repo: https://github.com/commitizen-tools/commitizen
  rev: v4.13.7
  hooks:
    - id: commitizen
      stages: [commit-msg]

- repo: local
  hooks:
    - id: fmt
      stages: [pre-commit]
      name: fmt
      description: Format files with cargo fmt.
      entry: cargo fmt --all
      language: system
      types: [rust]
      pass_filenames: false
    - id: cargo-check
      stages: [pre-commit]
      name: cargo check
      description: Check the package for errors.
      entry: cargo check
      language: system
      types: [rust]
      pass_filenames: false
    - id: clippy
      stages: [pre-commit]
      name: clippy
      description: Lint rust sources
      entry: cargo clippy --workspace
      language: system
      args: ["--", "-D", "warnings"]
      types: [rust]
      pass_filenames: false
    - id: cargo-test
      stages: [pre-commit]
      name: cargo test
      description: Run the test suite
      entry: cargo test --workspace
      language: system
      types: [rust]
      pass_filenames: false
    - id: version-check
      stages: [pre-commit]
      name: version check
      description: Check the version
      entry: scripts/check-version.sh
      language: script
      pass_filenames: false
    - id: git-check
      stages: [pre-commit]
      name: git check
      description: Git check
      entry: scripts/check-git.sh
      language: system
      pass_filenames: false

- repo: https://github.com/codespell-project/codespell
  rev: v2.4.1
  hooks:
    - id: codespell
      stages: [pre-commit]
      exclude: (?x)^([fixtures|Cargo.lock|flake.lock])
      args:
        - '--ignore-words-list=crate,sav,SAV,ser,extention'
