name: main
on:
  push:
    branches:
    - main
    tags:
    - "*"
  pull_request:
env:
  CARGO_TERM_COLOR: always
jobs:
  pre-commit:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@main
      with:
        set-safe-directory: true
        fetch-depth: 0
    - uses: actions/setup-python@main
    - uses: pre-commit/action@main
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        include:
          - os: macos-latest
            target: x86_64-apple-darwin
            suffix: ''
          - os: ubuntu-latest
            target: x86_64-unknown-linux-musl
            suffix: ''
          - os: windows-latest
            target: x86_64-pc-windows-msvc
            suffix: .exe
    steps:
      - uses: actions/checkout@main
      - name: Cache
        uses: actions/cache@main
        with:
          path: |
            ~/.cargo/registry
            ~/.cargo/git
            target
          key: ${{ runner.os }}-cargo-${{ hashFiles('**/Cargo.lock') }}
      - name: build
        run: |
          cargo build --release
      - name: Archive release artifacts
        uses: actions/upload-artifact@main
        with:
          name: mod_installer-${{ matrix.target }}${{ matrix.suffix }}
          path: ./target/release/mod_installer${{ matrix.suffix }}
  build-nix:
   runs-on: ubuntu-latest
   steps:
    - uses: actions/checkout@main
    - uses: cachix/install-nix-action@master
      with:
        nix_path: nixpkgs=channel:nixos-25.05
    - run: nix build
  release:
    needs: [build, build-nix, pre-commit]
    runs-on: ubuntu-latest
    if: github.event_name == 'push' && startsWith(github.ref, 'refs/tags/')
    outputs:
      upload_url: ${{ steps.create_release.outputs.upload_url }}
      tag_name: ${{ steps.get_tag.outputs.git_tag }}
    steps:
      - name: Checkout
        uses: actions/checkout@main
        with:
          fetch-depth: 0
      - name: Generate a changelog
        uses: orhun/git-cliff-action@main
        id: git-cliff
        with:
          config: cliff.toml
          args: --latest --verbose
        env:
          OUTPUT: CHANGELOG.md
      - name: Print the changelog
        run: cat "${{ steps.git-cliff.outputs.changelog }}"
      - name: Get the tag
        id: get_tag
        run: echo ::set-output name=git_tag::${GITHUB_REF/refs\/tags\//}
      - name: Create Release
        id: create_release
        uses: ncipollo/release-action@main
        with:
          bodyFile: ./CHANGELOG.md
          prerelease: ${{ startsWith(steps.get_tag.outputs.git_tag, 'nightly') }}
  upload:
    needs: [release]
    runs-on: ubuntu-latest
    strategy:
      matrix:
        include:
          - os: macos-latest
            target: x86_64-apple-darwin
            suffix: ''
          - os: ubuntu-latest
            target: x86_64-unknown-linux-musl
            suffix: ''
          - os: windows-latest
            target: x86_64-pc-windows-msvc
            suffix: .exe
    if: github.event_name == 'push' && startsWith(github.ref, 'refs/tags/')
    steps:
      - uses: actions/download-artifact@main
        with:
          name: mod_installer-${{ matrix.target }}${{ matrix.suffix }}
      - name: Upload Release Asset - ${{ matrix.os }}
        uses: actions/upload-release-asset@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ needs.release.outputs.upload_url }}
          asset_path: ./mod_installer${{ matrix.suffix }}
          asset_name: mod_installer-${{ matrix.target }}${{ matrix.suffix }}
          asset_content_type: application/octet-stream
